.asd {
  background-color: blue;
}
$font-size-lg: 2.5rem;

$theme-colors: (
  "primary": #1e0e62,
  "info": white,
);
$btn-border-radius: 100px;
$gradient: linear-gradient(180deg, #7e73ff 0%, #5b4dff 100%);
// Merge the maps
@import "node_modules/bootstrap/scss/bootstrap";
