*{
    margin: 0%;
    padding: 0%;
}
:root{
    --main-color: #2E2E48 ;
    --innertext-color: white;
    font-size: 20px;
    font-family: 'Open Sans';
}

   
main{
    margin-left: 5rem;
    padding: 1rem;

    background-color: aquamarine;

}



.ContainerMain{
    background-color: coral;


}
.ContainerPreview{
    background-color: yellowgreen;

}



nav{    
    position: fixed;
    background-color:#2E2E48;
    width: 5rem;
    height: 100vh;
    transition: width 200ms ease;
}

ul{
    list-style-type: none;    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
li{
    width: 100%;
}


li a > img{
    height: 2.5rem;
    width: 2.5rem;
    margin: 0% ;
    padding: 1rem 0rem 1rem 1rem;   
}
li:first-child{
    margin: 15vh auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
}

li:first-child:hover{
    background-color: var(--main-color);
}

li:first-child img {
    height: 4rem;
    margin: 0% auto;
}
li a{
    width: 100%;  
    display: flex;
    align-items: center;
    height: 5rem;    
    text-decoration: none; 
    color: var(--innertext-color);
}

li:hover{
    background-color: #7E73FF;    
}

li:last-child{
    margin-top: auto;
}

li:last-child img{
    width: 3rem;
    height: 3rem;
    background-color: white;
    padding: 0%;
    margin: 0rem 0rem 0rem 1rem;
    border-radius: 15%;
}
li span:not(:first-child){
    display: none;
    font-weight: 200;
}

li:first-child span{
    width: 100%;
    display: block; 
    visibility: hidden;
    margin: 4% 0% ;
    
}

nav:hover{
    width: 12rem;
}
nav:hover ul span{
    display: block;
    padding: 0rem 0rem 0rem 1rem;
}
nav:hover li:first-child span{
    visibility: visible;
    display: block;
    color: white;
    padding-left: 6rem;
    
}
main{
    height: 100vh;
    display:grid;
    grid-template-columns: 6fr 4fr;
}
.ContainerMain{
    grid-column: 1;
}
.ContainerPreview{
    grid-column: 2;
}

/* CONFIG SIDE */


/* CELULAR */
.Share-Block{
    width: 100%;
    display: flex;
    justify-content: center;
}
.MyLink{
    box-sizing: border-box;
    border: 4px solid var(--main-color);
    border-radius: 10%;
    height: 2rem;
    width: 10rem;   
}
.ShareLink{
    background-color: var(--main-color);
    margin-left: 2rem;
    box-sizing: border-box;
    border-radius: 10%;
    color: white;
    height: 2rem;
    width: 6rem; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}


.ContainerPreview{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.CellBase > img{
    height: 70vh;
}

